@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

/* :root {
	--bg-color: #F8FAFC;
	--card-color: #FFFFFF;
	--text-color: #1E293B;
	--border-color: #D0D7DE;
} */

/* @media (prefers-color-scheme: dark) {
	:root {
		--bg-color: #151B23;
		--card-color: #0D1117;
		--text-color: #E6EDF3;
		--border-color: #30363D;
	}
} */

[data-theme="light"] {
	--bg-color: #F7FAFC;
	--card-color: #EDF2F7;
	--text-color: #2D3748;
	--border-color: #CBD5E0;
}

[data-theme="dark"] {
	--bg-color: #0F1419;
	--card-color: #1C2128;
	--text-color: #E6EDF3;
	--border-color: #373E47;
}

* {
  box-sizing: border-box;
}

body {
	font-family:-apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
	background-color: var(--bg-color);
	color: var(--text-color);
	margin: 0;
	padding: 1rem;
}

.header-title {
	display: flex;
	justify-content: space-between;
}

.note-menu {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}

.note-menu li {
	list-style-type: none;
}

.theme-toggle, .note-button, .scroll-to-top {
	background: var(--bg-color);
	color: var(--text-color);
	border: 2px solid var(--border-color);
}

.theme-toggle {
	height: 2.5rem;
	font-weight: bold;
}

.theme-toggle, .note-button {
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
	cursor: pointer;
	font-size: 1rem;
}

.note-button {
	min-width: 10rem;
}

.theme-toggle:hover, .note-button:hover, .scroll-to-top:hover {
	background: var(--border-color);
}

header, .markdown-body {
	background-color: var(--card-color);
	box-sizing: border-box;
	min-width: 200px;
	max-width: 1240px;
	margin: 0 auto;
	padding: 1rem;
	border: 1px solid var(--border-color);
	border-radius: 0.5rem;
}

header h1 {
	padding: 0;
	margin-top: 0;
}

.markdown-body {
	margin-top: 1rem;
}

.heading-anchor {
	color: inherit !important;
	text-decoration: none;
}

.heading-anchor:hover {
	text-decoration: underline;
}

.scroll-to-top {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	bottom: 2rem;
	right: 2rem;
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	font-size: 1.5rem;
	text-decoration: none;
	z-index: 3;
}

.scroll-to-top::before {
	content: "↑";
	font-weight: bold;
}

@media (max-width: 767px) {
	body {
		padding: 0.5rem;
	}

	header, .markdown-body {
		padding: 0.5rem;
	}

	.scroll-to-top {
		bottom: 1rem;
		right: 1rem;
		width: 2rem;
		height: 2rem;
		font-size: 1rem;
	}
}